.App-header {
  background-color: #282834;
  min-height: 140vh;
  display: flex;
}
.main-grid-column {
  top: 100px;
}

.intro-container {
  font-size: large;
  padding-right: 200px;
  padding-top: 15px;
}
.intro-text-container {
  padding-top: 40px;
  text-align: left;
  background-color: #8787a3;
}

.intro-header {
  font-size: x-large;
  color: white;
}
.intro-subheader {
  color: white;
  font-size: larger;
  padding-top: 10px;
}
.text-container {
  padding-top: 15px;
  color: white;
  font-size: medium;
}
.info-list-container {
  padding-top: 35px;
  color: white;
}
.social-list-cotainer {
  padding-top: 35px;
}

.social-link {
  color: white;
}

.resume-button-container {
  text-align: center;
}

.skill-header-container {
  font-size: x-large;
  color: white;
  text-align: center;
  padding-top: 45px;
}
.programming-skills-containers {
  color: white;
  text-align: center;
  font-size: larger;
  padding-top: 20px;
}
.other-skills-container {
  color: white;
  text-align: center;
  font-size: larger;
  padding-top: 20px;
}
.progress-container {
  padding-top: 45px;
  padding-left: 25px;
}
.main-container {
  background-color: gray;
}
.other-skills-progress-container {
  padding-top: 45px;
  padding-right: 25px;
}
